* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: solid 1px red;
}

body {
    width:100%;
}

/*div {
    background-color: grey;
}*/

/* Jakubs css */
header {
    padding: 0 2rem 0 2rem;
    width: 100%;
    height: 100px; /* 100px desktop, 60px mobile */
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logoIMG {
    width: 120.55px;
    height: 60px;
}

.headerText {
    font-family: "IBM Plex Sans";
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navContainer {
    display: flex;
    align-items: center;
}

.navText {
    font-family: "IBM Plex Sans";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.iconResize {
    font-size: 40px; 
}

/* Responsive styling for mobile */
@media (max-width: 402px) {
    header {
        padding: 0 5px 0 0;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        top: 61px;
    }

    .logoIMG {
        width: 60.28px;
        height: 30px;
        gap: 10px;
    }
    .navContainer {
        display: flex;
        align-items: center;
        padding: 2px;
    }

    .headerText {
        font-size: 16px;
        line-height: 20.8px;
    }

    nav {
        width: 160px;
        gap:10px;
        justify-content: flex-end;
    }
    .iconResize {
        font-size: 21px; 
    }
    .iconContainer{
        gap: 10px;
    }

    .desktop-only {
        display: none;
    }
    .logoHeader {
        width: 146.28px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

/* Hampus CSS */

/*hero-inspiration start*/
.hero-inspiration{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    width: 90%;
    height: 270px;
    margin: auto;
    background-color: grey;
}

@media screen and (max-width: 402px){
    .hero-inspiration{height: 385px; width: 362px;}  
  }

/* sortiment-selected-tems start*/
.sortiment-selected-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortiment-selection-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sortiment-selection-1,
.sortiment-selection-2,
.sortiment-selsction-3,
.sortiment-selection-4 {
    width: 362px;
    height: 311px;
    margin: 10px;  
}

.sortiment-selection-2 {
    background-color: gray;
}

.sortiment-selection-1 {
    background-color: grey;
}

.sortiment-selsction-3 {
    background-color: grey;
}

.sortiment-selection-4 {
    background-color: grey;
}

.sortiment-selection-wraper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.sortiment-selection-hidden{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

@media screen and (min-width: 0px) and (max-width: 402px) {
    .sortiment-selection-hidden{display: none;}  /* hidden on phone, shown on loptop */
  }

@media screen and (min-width: 402px) and (max-width: 3000px) {
    .sortiment-selection-wraper{height: 259; width: 658;}  /* only shown on laptop */
  }
  /*sortiment-selected-items end*/

  /*our story start*/
.our-story {
    display: flex;                
    justify-content: center; 
    display: grid;
    width: 65%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(3, 293px);  
    padding-top: 10px;                      
}


.our-story-box-1 { background-color: grey; }
.our-story-box-2 { background-color: lightgray; }
.our-story-box-3 { background-color: lightgray; }
.our-story-box-4 { background-color: gray; }
.our-story-box-5 { background-color: grey; }
.our-story-box-6 { background-color: lightgrey; }

@media screen and (max-width: 800px) {    /*hidden on hone and shown on laptop*/
    .our-story{display: none;}  
  }

  /* our story-end*/
  

/* Andrea CSS */


/*INSTAGRAM*/

/*SOCIAL MEDIA MOBILE & DESKTOP*/
.social-media-mockup {
    background-color: lightgray;
    height: 362px;
    width: 362px;
}

/* SOCIAL MEDIA MOBILE */


/* As shown on mobile */
    @media (max-width: 768px) {
        .social-media-desktop {
            display: none;
        }

        .social-media-text {
            font-size:calc(1.5rem-2vw);
        }
        
    }

    .social-media-mobile {
        display: flex;
        max-width: 362px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        align-self: stretch;
        margin: auto;
    }

/* SOCIAL MEDIA DESKTOP */
/* As shown on desktop */
@media (min-width: 768px) {
    .social-media-mobile {
        display: none;
    }

    .social-media-desktop {
        display: flex;
        max-width: 800px;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .social-media-text {
        font-size: 3rem;
    }
}



.social-media-cta-desktop {
    display: flex;
width: 516px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 40px;
}


/*FOOTER*/
/*FOOTER ALL SCREEN SIZES*/

/* FOOTER MOBILE*/

footer {
    /* Footer width in design: 402x*/
    margin-top: 40px;
    padding-top: 27px 10px;
    background-color: gray;
    width: 100%;
    max-width: 100%;
    height:auto;
    display: flex;
    padding: 27px 0px;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    align-self: stretch;

}

.footer-logo {
    min-width: 90px;
    height: 47px;
    background-color: lightgray;
}

.footer-follow-us {
    /* Design change on desktop*/
        background-color: lightgray;
        /* min-width: 227px; */
        width: 60%;
        height:21px;
        display: flex;
        align-items: center;
        justify-content: space-around;

}
.footer-general-information {
    /* Same on desktop and mobile*/
    background-color: lightgray;
    height: auto;
    /* min-width:350px; */
    max-width:929px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* row-gap: 63px; */ 
    flex-wrap: wrap;
}

hr.footer {
    /* min-width: 317px; */
    width: 80%;
    max-width: 1282;
    height: 1px;
}

/* <!-- dubbelkolla varför den här diven skapar massa problem--> */
.footer-payment-information {
    background-color: lightgray;
    /* min-width:350px; */
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-ecommerce {
    background-color: gray;
    width: 32px;
    height: 32px;
}

.footer-text {
    background-color: gray;
    font-size:14px;
    height:18px;
    width: auto;
}

.footer-some {
    background-color: gray;
    width:21px;
    height:21px;
}

.footer-general-text {
    font-size:16px;
    width:auto;
    height:auto;
}

/* .footer-integrity-cookie {
background-color: lightgray;
height: 21px;
width:350px;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px;

} */

/*FOOTER DESKTOP*/
