* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: solid 1px red;
}

body {
    width:100%;
}

/*div {
    background-color: grey;
}*/

/* Jakubs css */
/* container for whole header */


/* Hampus CSS */

/*hero-inspiration start*/
.hero-inspiration{
    display: flex;
    justify-content: center;
    max-width: 1400px;
    width: 90%;
    height: 270px;
    margin: auto;
    background-color: grey;
}

@media screen and (max-width: 402px){
    .hero-inspiration{height: 385px; width: 362px;}  
  }

/* sortiment-selected-tems start*/
.sortiment-selection-item-1,
.sortiment-selection-item-2,
.sortiment-selection-item-3,
.sortiment-selection-item-4,
.sortiment-selection-item-5,
.sortiment-selection-item-6
{
    width: 362px;
    height: 311px;
    margin: 10px;  
    background-color: grey;
}

.sortiment-selection-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.sortiment-selection-wraper{
    display: flex;
    text-align: center;
    flex-direction: column;
}

@media screen and (min-width: 768px){
  .sortiment-selection-item-1,
  .sortiment-selection-item-2,
  .sortiment-selection-item-3,
  .sortiment-selection-item-4 {
  width: 658px;
  height: 259px;
    }
}

@media screen and (min-width: 768px) {
.sortiment-selection-wraper-hidden,
  .sortiment-selection-wraper-hidden{
    display: none;
  } 
}



  /*sortiment-selected-items end*/

  /*our story start*/
.our-story {
    display: flex;                
    justify-content: center; 
    display: grid;
    width: 65%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(3, 293px);  
    padding-top: 10px;                      
}


.our-story-box-1 { background-color: grey; }
.our-story-box-2 { background-color: lightgray; }
.our-story-box-3 { background-color: lightgray; }
.our-story-box-4 { background-color: gray; }
.our-story-box-5 { background-color: grey; }
.our-story-box-6 { background-color: lightgrey; }

@media screen and (max-width: 800px) {    /*hidden on hone and shown on laptop*/
    .our-story{display: none;}  
  }

  /* our story-end*/
  

/* Andrea CSS */


/*INSTAGRAM*/

/*SOCIAL MEDIA MOBILE & DESKTOP*/
/* SOCIAL MEDIA MOBILE */


/* As shown on mobile */
    @media (max-width: 768px) {
        .social-media-desktop {
            display: none;
        }

        .social-media-text {
            font-size: 1.5rem;
        }
        
    }

    .social-media-mobile {
        display: flex;
        width:90vw;
        max-width: 362px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        align-self: stretch;
        margin: 40px auto;
    }

    .follow-us {
        background-color: lightgray;
        height: 90vw;
        max-height: 362px;
        width: 90vw;
        max-width: 362px;
    }

/* SOCIAL MEDIA DESKTOP */

/* As shown on desktop */
@media (min-width: 768px) {
    .social-media-mobile {
        display: none;
    }

    .social-media-desktop {
        display: flex;
        width:90w;
        max-width: 1416px;
        justify-content: center;
        align-items: center;
        margin: 120px auto;
        height:45vw;
        border-radius: 30px;
    }

    .social-media-text {
        font-size: 3rem;
    }

    .follow-us {
        background-color: lightgray;
        height: 45vw;
        max-height: 633px;
        width: 45vw;
        max-width: 633px;
    }

    /* När jag lägger in bilden: */
    /* object-fit:cover;
    aspect-ratio:1; */

    .footer-ecommerce-mobile {
        display:none;
    }

    .footer-follow-us {
        order: -1;
    }
}



.contact-desktop {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 45vw;
height: 45vw;
gap: 40px;
padding: 58px 50px;
}


/*FOOTER*/
/*FOOTER ALL SCREEN SIZES*/

/* FOOTER MOBILE*/

footer {
    /* Footer width in design: 402x*/
    margin-top: 40px;
    padding-top: 27px 10px;
    background-color: gray;
    width: 100%;
    max-width: 100%;
    height:auto;
    display: flex;
    padding: 27px 0px;
    flex-direction: column;
    align-items: center;
    gap: 31px;
    align-self: stretch;

}

.footer-logo {
    min-width: 90px;
    height: 47px;
    background-color: lightgray;
}

.footer-follow-us {
    /* Design change on desktop*/
        background-color: lightgray;
        /* min-width: 227px; */
        width: 60%;
        height:21px;
        display: flex;
        align-items: center;
        justify-content: space-around;

}
.footer-general-information {
    /* Same on desktop and mobile*/
    background-color: lightgray;
    height: auto;
    /* min-width:350px; */
    max-width:929px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* row-gap: 63px; */ 
    flex-wrap: wrap;
}

hr.footer {
    /* min-width: 317px; */
    width: 80%;
    max-width: 1282;
    height: 1px;
}

/* <!-- dubbelkolla varför den här diven skapar massa problem--> */
.footer-payment-information {
    background-color: lightgray;
    /* min-width:350px; */
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-ecommerce {
    background-color: gray;
    width: 32px;
    height: 32px;
}

.footer-text {
    background-color: gray;
    font-size:14px;
    height:18px;
    width: auto;
}

.footer-some {
    background-color: gray;
    width:21px;
    height:21px;
}

.footer-general-text {
    font-size:16px;
    width:auto;
    height:auto;
}

/* .footer-integrity-cookie {
background-color: lightgray;
height: 21px;
width:350px;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px;

} */

/*FOOTER DESKTOP*/
